.wrap-backgroud {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(154, 150, 150) !important;
}

.wrap-progress-upload {
    width: 98%;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f8f9fa;
}
.progress-bar {
    height: 5px;
    background-color: #007bff;
}
.progress-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
}
.progress-text i {
    margin-right: 5px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    gap: 10px;
}

.panel-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inp-mota {
    width: 650px;
    height: 150px;
}

.btn-panel-left {
    margin-top: 20px;
    margin-right: 10px;
}

.panel-right {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.wrap-video-preview {
    width: 80%;
    display: flex;
    justify-content: center;
}
.video-preview {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: red;
}
