.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 5px 20px;
    font-size: 1.2rem;
}
.body {
    margin-top: 12px;
    color: #161823;
}
.nickname {
    font-size: 1.3rem;
}
.check {
    font-size: 1.2rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.1rem;
}
.analytics {
    font-size: 1.1rem;
    display: flex;
    margin-top: 10px;
}
.label {
    color: #161823bf;
}
//thang value cung cap
.value ~ .value {
    margin-left: 20px;
}
