.chiTietCuocGoi {
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: white !important;
}
.list {
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
