.wrap {
    width: 100%;
    height: 95%;
    overflow: auto;
    background-color: #ffffff !important;
}
.container {
    width: 100%;
    margin-top: 50px;
}
.bltitleListUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.blUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    cursor: pointer;
}
.you {
}
.blInfo {
    display: flex;

    margin-left: 10px;
    justify-content: space-between;
    gap: 10px;
}
.btnOption {
    padding-right: 25px;
}
.bodyTab {
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style-type: none;
    overflow: auto;
    padding: 0px 0px;
}

.bodyTab .you {
    order: -1;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
