.video-wrap-player {
    max-width: 360px;
    max-height: 880px;
    min-height: 650px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.videoItem {
}
