.video-wrap-player {
    max-width: 380px;
    min-width: 360px;

    min-height: 730px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.videoItem {
    object-fit: cover;
}
